$primary-background-color: #f8f8f8;
$white: #fff;
$light-gray: #e0e0e0;
$dark-green: #5ca2b2;
$dark-blue: #a7b1b9;
$light-black: rgba(0,0,0,0.2);
$lighter-gray: #ddd;
$gray: #333;


$max-width: 1200px;
$medium-width: 940px;
$full-width: 100%;
$half-width: 50%;
$full-height: 100%;


$small-fonts: 12px;

