.recipe {
    width: 20.33%;
    border: 1px solid rgba($color: #000000, $alpha: .05);
    margin: 15px;
    padding: 10px;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;

    @media (max-width: 1130px) {
        width: 20%;
        margin: 10px;
        height: calc(400px - 10px);
    }

    @media(max-width: 900px) {
        width: 28%;
    }

    @media (max-width: 860px) {
        width: 27%;
        margin: 12px;
        align-self: end;
    }

    @media (max-width: 782px) {
        width: 36.333%;
    }

    @media(max-width: 500px) {
        width: 60%;
        height: 400px;
        margin: auto;
        margin-top: 30px;
    }
}