@import '../../main.scss';

.recipe {
    width: 21.5%;
    border: 1px solid $lighter-gray;
   
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 15px;
    height: 360px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 4px;
    position: relative;
    margin-top: 90px;
    box-shadow: 10px 2px 19px 0px $light-black;


    .favorite {
        flex-grow: 3;
        padding: 20px;
    }

    .recipe-info {
        display: flex;
        flex-direction: column;
        color: $white;
        border: none;
        width: $full-width;
        border-radius: 0 4px;
        flex-grow: 1;
        padding: 0 10px 10px;

        .recipe-heading {
            margin-top: auto;
            h2 {
                margin: 0;
                font-size: 20px;
                font-weight: 600;
                line-height: 1;
                margin-bottom: 10px;

            }
        }

        .recipe-more-info {

            margin-top: 10px;
            font-size: $small-fonts;
            line-height: 1.6;

            .recipe-rating {
                width: $full-width;
                .star-rating {
                    display: inline-block;
                    margin-right: 10px;
                    margin-bottom: 10px;
                }

            }
        }
    }

    @media (max-width: 1130px) {
        width: 21%;
        margin: 10px;
        height: 320px;
    }

    @media(max-width: 970px) {
        width: 28%;
        height: 300px;
    }

    @media (max-width: 860px) {
        width: 27%;
        margin: 12px;
    }

    @media (max-width: 782px) {
        width: 36.333%;
    }

    @media (max-width: 680px ) {
        width: 40%;
        margin: 8px;
    }

    @media(max-width: 570px) {
        width: 60%;
        height: 360px;
        margin: auto;
        margin-top: 30px;
    }
}