.recipe {
    width: 21.5%;
    border: 1px solid #ddd;
   
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 15px;
    height: 380px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 6px;
    position: relative;
    margin-top: 90px;


    .favorite {
        flex-grow: 3;
        padding: 20px;
    }

    .recipe-info {
        display: flex;
        flex-direction: column;
        color: #fff;
        border: none;
        width: 100%;
        border-radius: 0 4px;
        flex-grow: 1;
        padding: 0 10px 10px;

        .recipe-heading {
            margin-top: auto;
            h2 {
                margin: 0;
                font-size: 20px;
                font-weight: 600;
                line-height: 1;
                margin-bottom: 10px;

            }
        }

        .recipe-more-info {

            margin-top: 10px;
            font-size: 14px;

            .recipe-rating {
                width: 100%;
                .star-rating {
                    display: inline-block;
                    margin-right: 10px;
                    margin-bottom: 10px;
                }

            }
        }
    }

    @media (max-width: 1130px) {
        width: 20%;
        margin: 10px;
        height: 320px;
    }

    @media(max-width: 900px) {
        width: 28%;
        height: 300px;
    }

    @media (max-width: 860px) {
        width: 27%;
        margin: 12px;
        align-self: end;
    }

    @media (max-width: 782px) {
        width: 36.333%;
    }

    @media(max-width: 500px) {
        width: 60%;
        height: 400px;
        margin: auto;
        margin-top: 30px;
    }
}