@import '../../../main.scss';

.login-form {
    background-color: $white;
    height: 500px;
    box-sizing: border-box;
    padding: 40px;
    max-width: $medium-width;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-self: center;
    box-shadow: 0px 1px 6px 0px $light-black;
  
    h2 {
        text-align: center;
    }

    .inner-form {
        width: $half-width;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;

        input[type="text"], input[type="password"] {
            display: block;
            width: $full-width;
            margin-top: 20px;
            height: 40px;
            appearance: none;
            line-height:1.69;
            -webkit-appereance:none;
            outline:none;
            border: none;
            border-bottom: 1px #a7b1b9 solid;
            padding: 10px;
            &::placeholder {
                color: $dark-green;
            }
        };

        button[type="submit"] {
            width: $full-width;
            margin-top: 40px;
            height: 40px;
            border: none;
            background-color: $dark-green;
            color: $white;
            font-size: 16px;
            font-weight: 600;
        }
    }
    
}
