@import '../../main.scss';

.footer {

    margin-bottom: 0;
    height: 70px;
    width: 100%;
    box-shadow: 0 3px 2px -2px $light-gray;
    border-top: 1px solid $lighter-gray;
    background-color: $primary-background-color;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    .inner-footer {
        max-width: $max-width;
        margin: auto;

        .footer-info {
            width: 80%;
            margin: auto;
        }
    }
}
