@import './../../main.scss';

.header {
    height: 70px;
    width: $full-width;
    box-shadow: 0 3px 2px -2px $light-gray;
    border-bottom: 1px solid $lighter-gray;
    background-color: $white;
    display: flex;
    align-content: center;
    justify-content: flex-end;
    padding: 15px;

    div {
        align-self: center;
        margin-right: 20px;

    }

    a {
        padding: 10px 20px;
        background-color: inherit;
        margin-top: 20px;
        align-self: start;
        border-radius: 4px;
        border: 1px $dark-green solid;
        text-decoration: none;
        color: $gray;
        transition: 0.2s opacity;
        border-bottom: 2px solid $light-black;

        &:visited {
            border: 1px $dark-green solid;
            text-decoration: none;
            color: inherit;
        }
    }
}